@page 
@model Dziennik_BSK.Pages.Participations.CreateModel

@{
    ViewData["Title"] = "Obecnoœæ - Dodaj";
}

<h2>Dodaj</h2>

<h4>Obecnoœæ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Participation.IsPresent" class="control-label"></label>
                <select asp-for="Participation.IsPresent" class="form-control" ></select>
                <span asp-validation-for="Participation.IsPresent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participation.Lesson" class="control-label"></label>
                <select asp-for="Participation.LessonId" class="form-control"
                        asp-items="@Model.LessonSL">
                    <option>--- Wybierz lekcje ---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Participation.Student" class="control-label"></label>
                <select asp-for="Participation.StudentId" class="form-control" 
                        asp-items="@Model.StudentSL">
                    <option>--- Wybierz ucznia ---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
