@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Politechnika Gdańska<br />
    G.Narutowicza 11/12, 80-980 Gdańsk<br />
    <abbr title="Phone">P:</abbr>
    324324234
</address>

<address>
    <strong>Wsparcie:</strong> <a href="mailto:Support@example.com">Wsparcie@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
