@page "{id:int}"
@model Dziennik_BSK.Pages_Parents.EditModel

@{
    ViewData["Title"] = "Rodzic - Edytuj";
}

<h2>Edytuj rodzica</h2>

<h4>Rodzic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Parent.Id" />
            <div class="form-group">
                <label asp-for="Parent.Pesel" class="control-label"></label>
                <input asp-for="Parent.Pesel" class="form-control" />
                <span asp-validation-for="Parent.Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.FirstName" class="control-label"></label>
                <input asp-for="Parent.FirstName" class="form-control" />
                <span asp-validation-for="Parent.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.Surname" class="control-label"></label>
                <input asp-for="Parent.Surname" class="form-control" />
                <span asp-validation-for="Parent.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.PhoneNumber" class="control-label"></label>
                <input asp-for="Parent.PhoneNumber" class="form-control" />
                <span asp-validation-for="Parent.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.Email" class="control-label"></label>
                <input asp-for="Parent.Email" class="form-control" />
                <span asp-validation-for="Parent.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
